@import '../../utils/breakpoints';

.summaryContainer {
  // Mobile First
  position: relative;
  background-color: #004D61;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 400px;
  background-image: url('../../images/SaldoBackground.svg');
  background-origin: initial;
  background-position: 30% 95%;
  background-repeat: no-repeat;
  margin-bottom: 24px;

  // Tablet and up
  @include tablet-and-up {
    width: 100%;
    margin-bottom: 32px;
    height: 402px;
    padding-bottom: 24px;
    background-origin: content-box, padding-box;
    background-position: bottom left;
  }

  // Desktop and up
  @include desktop-and-up {
    flex-direction: row;
  }

  & .summaryTitle {
    display: flex;
    flex-direction: column;

    & .userName {
      font-size: 25px;
      font-weight: 600;
      line-height: 30.26px;
      text-align: left;
      color: #fff;
      margin-bottom: 24px;
    }
    
    & .date {
      font-size: 13px;
      font-weight: 400;
      line-height: 15.73px;
      text-align: left;
      color: #fff;
    }
  }

  & .moneyContainer {
    // Mobile First
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 72px;
    max-width: 100%;
    
    // Tablet and up
    @include tablet-and-up {
      margin-top: 64px;
    }
    
    // Desktop and up
    @include desktop-and-up {
      max-width: 50%;
    }
  }

  & .moneyHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #FF5031;
    padding-bottom: 16px;
    min-width: 180px;
    width: 100%;
    
    & .balance {
      font-size: 20px;
      font-weight: 600;
      line-height: 24.2px;
      text-align: left;
      color: #fff;
      margin-right: 24px;
    }
  }

  & .balanceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    margin-top: 16px;
    max-width: 100%;

    & .accountType {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      text-align: left;
      margin-bottom: 8px;
    }

    & .moneyText {
      font-size: 31px;
      font-weight: 400;
      line-height: 37.52px;
      text-align: left;
      max-width: 100%;
      overflow-wrap: break-word;
    }

    & .hideMoney {
      background-color: #CBCBCB;
      color: #CBCBCB;
      width: 100%;
      border-radius: 8px;
    }
  }
}

