@import '../../utils/breakpoints';

.flexRowCenterContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.mainContentContainer {
  // Mobile First
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0px 24px;
  padding-bottom: 36px;

  // Tablet and up
  @include tablet-and-up {
    flex-direction: column;
    padding: 0px 60px;
    padding-bottom: 70px;
  }

  // Desktop and up
  @include desktop-and-up {
    flex-direction: row;
    padding: 0;
  }
}

.flexColumnCenterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menuContainer {
  width: 180px;
  height: 100vh;
}

.middleContentContainer {
  // Mobile First
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  // Desktop and up
  @include desktop-and-up {
    margin: 0px 24px;
  }
}

.statementContainer {
  // Mobile First
  width: 100%;
  height: 100%;

  // Desktop and up
  @include desktop-and-up {
    width: 282px;
  }

  // Large desktop
  @include large-desktop {
    width: 320px;
  }
}

#statementSection {
  // Mobile First
  width: 100%;
  margin-top: 16px;

  // Desktop and up
  @include desktop-and-up {
    margin-top: 0;
  }
}
